<!-- `editing` `completed` -->

<li [class.completed]="todo.completado" [class.editing]="editando">
  <div class="view">
    <input class="toggle"
           [formControl]="chkComplete"
           type="checkbox">
    <label (dblclick)="editar(inputFisico)">{{ todo.texto }}</label>
    <button class="destroy"
            (click)="borrar()"
    ></button>
  </div>
  <input class="edit"
         type="text"
         #inputFisico
         (blur)="terminarEdicion()"
         [formControl]="txtInput">
</li>
